{{!
  Copyright (C) 2017 Google Inc.
  Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

<input type="text"readonly="readonly" class="multiselect-dropdown-input" value="{{displayValue}}"/>
<div class="dropdown-menu dropdown-menu-form multiselect-dropdown-body">
    <ul class="multiselect-dropdown-list">
      {{#options}}
      <li>
        <label  class="checkbox-inline" >
          <input type="checkbox"
            {($checked)}="checked"
            value="{{value}}"
            name="{{name}}"
            id="{{id}}"
            class="multiselect-dropdown-checkbox {{cssClass}}"
            />
          {{value}}
        </label>
      </li>
      {{/options}}
    </ul>
</div>


