{{!
  Copyright (C) 2017 Google Inc.
  Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

<content></content>
{{#if isAboveLimit}}
  <div class="visible-items-limiter__toolbar">
    <button class="btn btn-small btn-link btn-link-nopadding"
      ($click)="showAll()">Show All ({{items.length}})
    </button>
  </div>
{{/if}}
