{{!
  Copyright (C) 2017 Google Inc.
  Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

<div>
  <content/>

  <div class="people-list">
    <object-list ({items})="people">
      <div class="deletable-people-group__person action-toolbar">
        <person-list-item person="{.}" {with-details}="withDetails">
          {{#unless isLoading}}
            {{#is_allowed 'update' instance}}
              {{#can_unmap}}
                {{#if canUnmap}}
                  <div class="action-toolbar__controls">
                    <a href="javascript://" class="info-action unmap" ($click)="unmap(person)">
                      <action-toolbar-control>
                        <i class="fa fa-trash"></i>
                      </action-toolbar-control>
                    </a>
                  </div>
                {{/if}}
              {{/can_unmap}}
            {{/is_allowed}}
          {{/unless}}
        </person-list-item>
      </div>
    </object-list>
  </div>
</div>
