{{!
  Copyright (C) 2018 Google Inc.
  Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

<div class="object-review">
  <div class="object-review__header">
    <div class="object-review__header-title">
      Object Review
    </div>
    <div class="object-review__header-status">
      <div class="state-value state-{{reviewStatus}}">
        {{reviewStatus}}
      </div>
    </div>
    <div class="object-review__header-spinner">
      <spinner toggle="loading"></spinner>
    </div>
  </div>

  {{^if isEmptySection}}
    {{#if wasReviewed}}
      <div class="object-review__body">
        <div class="object-review__body-description">
          Last reviewed by
          {{review.last_set_reviewed_by.email}}
          on
          {{date review.last_set_reviewed_at}}
        </div>

        {{#if isDisplayUndo}}
          <a class="object-review__body-undo" href="#" ($click)="changeReviewState(false)">
            Undo
          </a>
        {{/if}}

        <a class="object-review__body-undo" href="#" ($click)="changeReviewState(false)">DEV UNDO!!!</a>

        <object-review-history
          {review}="review"
          {is-reviewed}="isReviewed"
          {base-instance}="instance">
        </object-review-history>
      </div>
    {{/if}}

    <div class="object-review__buttons">
      {{#if isDisplayReviewerButtons}}
        <button
          {{#if loading}}disabled{{/if}}
          ($click)="changeReviewState(true)"
          class="btn btn-green btn-small">
            Mark Reviewed
        </button>
        <button
          {{#if loading}}disabled{{/if}}
          ($click)="changeReviewers()"
          class="btn btn-white btn-small">
            Change Reviewers
        </button>
      {{/if}}
      {{#if reviewIssueLink}}
        <a href="{{reviewIssueLink}}">Open ticket</a>
      {{/if}}
    </div>
  {{else}}
    <!-- Empty description area and user without permissions to see buttons -->
    <div class="object-review__body">
      <div class="object-review__body-description">
        None
      </div>
    </div>
  {{/if}}
  {{#if hasReviewers}}
    <div class="object-review__reviewers">
      <custom-roles
        read-only="true"
        {instance}="review">
      </custom-roles>
    </div>
  {{/if}}
</div>

<reviewers-modal
  (reviewers-updated)="reviewersUpdated(%event)"
  {review}="review"
  {parent-instance}="instance"
  {(modal-state)}="reviewersModalState">
</reviewers-modal>
