{{!
    Copyright (C) 2017 Google Inc., authors, and contributors
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}
<visible-items-limiter {items}="mappedItems">
    <object-list {items}="visibleItems" {empty-message}="noItemsText" class="object-list__limited-height">
        <comment-list-item {instance}="{.}"></comment-list-item>
    </object-list>
</visible-items-limiter>
